/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #CCCCCC #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #eeeeee;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #CCCCCC;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #919191;
}
